<% include ./allUsers/allUsers_header -%>
<header class="main-header">
    <h1 class="main-logo"><a href="#"><img src="/img/MEGATRADE_LOGO2.png" width="250" height="50" alt="logo"></a></h1>

    <ul class="main-nav">
        <li class="main-nav-item"><a href="#"><img src="/img/search.svg" alt="search"></a></li>
        <li class="main-nav-item"><a href="#"><img src="/img/mail.svg" alt="mail"></a></li>
        <li class="main-nav-item"><a href="#"><img src="/img/notification.svg" alt="notification"></a></li>
        <li class="main-nav-item"><a href="#"><img src="/img/chat.svg" alt="chat"></a></li>
        <li class="main-nav-item"><a href="#"><img src="/img/profile.svg" alt="profile"></a></li>
    </ul>
</header>

<main class="main-wrapper">
    <aside class="side-menu">
        <ul class="aside-list">
            <li class="aside-item ">
                <a class="dashboard" href="/admin"><span>Dashboard</span></a>
            </li>
            <li class="aside-item ">
                <a class="desks" href="#"><span>Desks</span></a>
            </li>
            <li class="aside-item">
                <a class="transactions" href="#"><span>Transactions</span></a>
            </li>
            <li class="aside-item">
                <a class="trades new-line" href="#"><span>Trades</span></a>
            </li>
            <li class="aside-item">
                <a class="tickets" href="#"><span>Tickets</span></a>
            </li>
            <li class="aside-item">
                <a class="reports" href="#"><span>Reports</span></a>
            </li>
            <li class="aside-item">
                <a class="analitics" href="#"><span>Analitics</span></a>
            </li>
            <li class="aside-item">
                <a class="campaigns" href="#"><span>Campaigns</span></a>
            </li>
            <li class="aside-item">
                <a class="mailer" href="#"><span>Mailer</span></a>
            </li>
            <li class="aside-item">
                <a class="mail-layouts" href="#"><span>Layouts</span></a>
            </li>
            <li class="aside-item">
                <a class="workers" href="#"><span>Workers</span></a>
            </li>
            <li class="aside-item">
                <a class="chats" href="#"><span>Chats</span></a>
            </li>
            <li class="aside-item ">
                <a class="calendar" href="#"><span>Calendar</span></a>
            </li>
            <li class="aside-item">
                <a class="communications" href="#"><span>Communications</span></a>
            </li>
            <li class="aside-item">
                <a class="logs" href="#"><span>Logs</span></a>
            </li>
            <li class="aside-item">
                <a class="positions" href="#"><span>Positions</span></a>
            </li>
        </ul>
    </aside>

    <div class="right-section">
        <section class="allUsers">
            <div class="table-wrapper">
                <p class="table-title">Traider List</p>
                <div class="lol">
                    <div class="titles">
                        <ul class="titles-list">
                            <li class="titles-list-item">Full Name</li>
                            <li class="titles-list-item">Email</li>
                            <li class="titles-list-item">Roles</li>
                            <li class="titles-list-item">Balance</li>
                            <li class="titles-list-item">Leverage XXX</li>
                            <li class="titles-list-item">Change</li>
                        </ul>
                    </div>

                    <div class="user-info">


                            <%list.forEach(function(lists){ %>
                                <ul class="user-info-list">
                                    
                                    <li class="user-info-list-item"><%= lists.name %></li>
                                    <li class="user-info-list-item"><%= lists.email%></li>
                                    <li class="user-info-list-item"><%= lists.role%></li>
                                    <li class="user-info-list-item balance-item"><%= lists.userBalance%></li>
                                    <li class="user-info-list-item"><%= lists.leverage  %></li>
                                    <li class="user-info-list-item">
                                        <a href="/admin/list/<%= lists.id %>">Change</a>
                                    </li>
                                </ul>
                                <% }) %>
                    </div>
                </div>
            </div>
        </section>

        <!-- <a href="/admin">Back to admin panel</a> -->
    </div>
</main>

<footer class="main-footer">
        <div class="dots-background">
            <div class="first-line-wrapper">
                <img src="/img/dots-1.svg">
                <img src="/img/layer-1.svg">
            </div>
            <div class="second-line-wrapper">
                <img src="/img/dots-2.svg">
            </div>
            <div class="third-line-wrapper">
                <img src="/img/line-2.svg">
            </div>
            <div class="fourth-line-wrapper">
                <img src="/img/dots-3.svg">
            </div>
            <div class="fifth-line-wrapper">
                <img src="/img/dots-4.svg">
            </div>
            <div class="sixth-line-wrapper">
                <img src="/img/line-3.svg">
            </div>
            <div class="seventh-line-wrapper">
                <img src="/img/dots-5.svg">
            </div>
            <div class="eighth-line-wrapper">
                <img src="/img/dots-6.svg">
                <img src="/img/line-4.svg">
            </div>
        </div>
        <div class="footer-line"></div>
        <section class="footer-navigation">
            <ul class="footer-nav-list">
                <li class="footer-nav-item"><a href="#">Terms and conditions</a></li>
                <li class="footer-nav-item"><a href="#">Privacy policy</a></li>
                <li class="footer-nav-item"><a href="#">Leverage/bonus policy</a></li>
                <li class="footer-nav-item"><a href="#">Aml Policy</a></li>
                <li class="footer-nav-item"><a href="#">withdrawal of funds policy</a></li>
                <li class="footer-nav-item"><a href="#">Kyc policy</a></li>
            </ul>
        </section>
        <section class="footer-description">
            <p class="footer-description-text">Risk Disclaimer:<br> CFD trading involves significant risk. We strongly
                advise that you read our Terms & Conditions. Although the risk when trading binary options is fixed
                for<br> each individual trade, the trades are live and it is possible to lose an initial investment,
                particularly if a trader chooses to place his entire investment to a <br>single live trade. It is highly
                recommended that traders choose a proper money management strategy which limits the total consecutive
                trades or total <br>outstanding investment.</p>
        </section>
        <section class="copyright">
            <p class="copyright-text">Copyright © 2019 MegaTradeX<br>All Rights Reserved.</p>
        </section>
    </footer>

<% include ./allUsers/allUsers_footer -%>