<% include ./editInfo/editInfo_header -%>
<header class="main-header">
  <h1 class="main-logo"><a href="#"><img src="/img/MEGATRADE_LOGO2.png" width="250" height="50" alt="logo"></a></h1>

  <ul class="main-nav">
    <li class="main-nav-item"><a href="#"><img src="/img/search.svg" alt="search"></a></li>
    <li class="main-nav-item"><a href="#"><img src="/img/mail.svg" alt="mail"></a></li>
    <li class="main-nav-item"><a href="#"><img src="/img/notification.svg" alt="notification"></a></li>
    <li class="main-nav-item"><a href="#"><img src="/img/chat.svg" alt="chat"></a></li>
    <li class="main-nav-item"><a href="#"><img src="/img/profile.svg" alt="profile"></a></li>
  </ul>
</header>

<main class="main-wrapper">
  <aside class="side-menu">
    <ul class="aside-list">
      <li class="aside-item ">
        <a class="dashboard" href="#"><span>Dashboard</span></a>
      </li>
      <li class="aside-item ">
        <a class="desks" href="#"><span>Desks</span></a>
      </li>
      <li class="aside-item">
        <a class="transactions" href="#"><span>Transactions</span></a>
      </li>
      <li class="aside-item">
        <a class="trades new-line" href="#"><span>Trades</span></a>
      </li>
      <li class="aside-item">
        <a class="tickets" href="#"><span>Tickets</span></a>
      </li>
      <li class="aside-item">
        <a class="reports" href="#"><span>Reports</span></a>
      </li>
      <li class="aside-item">
        <a class="analitics" href="#"><span>Analitics</span></a>
      </li>
      <li class="aside-item">
        <a class="campaigns" href="#"><span>Campaigns</span></a>
      </li>
      <li class="aside-item">
        <a class="mailer" href="#"><span>Mailer</span></a>
      </li>
      <li class="aside-item">
        <a class="mail-layouts" href="#"><span>Layouts</span></a>
      </li>
      <li class="aside-item">
        <a class="workers" href="#"><span>Workers</span></a>
      </li>
      <li class="aside-item">
        <a class="chats" href="#"><span>Chats</span></a>
      </li>
      <li class="aside-item ">
        <a class="calendar" href="#"><span>Calendar</span></a>
      </li>
      <li class="aside-item">
        <a class="communications" href="#"><span>Communications</span></a>
      </li>
      <li class="aside-item">
        <a class="logs" href="#"><span>Logs</span></a>
      </li>
      <li class="aside-item">
        <a class="positions" href="#"><span>Positions</span></a>
      </li>
    </ul>
  </aside>

  <div class="right-section">
    <section class="allUsers">
      <div class="table-wrapper">
        <p class="table-title">Edit User</p>
        <div class="lol">

          <div class="user-info">
            <div class="container">

              <form action="editrole" method="POST" autocomplete="off">
                <input type="hidden" name="_id" value="<%= list.id %>">
                <div class="form-group">
                  <label class="full-name">Full Name:</label>
                  <!-- <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="<%= list.name %>"> -->
                  <div class="text-color">
                    <%= list.name %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="email">Email:</label>
                  <!-- <input type="text" class="form-control" name="email" placeholder="Email" value="<%= list.email %>"> -->
                  <div class="text-color">
                    <%= list.email %>
                  </div>
                </div>

                <div class="edit-input-wrapper">
                  <div class="">
                    <div class="deposit-wrapper">
                      <label class="deposit">Deposit: </label>
                      <div class="text-color deposit-color">
                        <%= list.userBalance %>$
                      </div>
                    </div>
                    <input type="text" class="form-control deposit-input" name="userBalance"
                      placeholder="userBalance   XXX" value="<%= list.userBalance %>">
                  </div>

                  <div class="form-group">
                    <div class="leverage-wrapper">
                        <label class="leverage">Leverage x: </label>
                        <div class="text-color deposit-color">
                            <%= list.leverage %>
                        </div>
                    </div>
                    <input type="text" class="form-control leverage-input" name="leverage" placeholder="leverage XXX"
                      value="<%= list.leverage %>">
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label class="role">Role: </label>
                    <!-- <input type="text" class="form-control" name="mobile" placeholder="Mobile" value="<%= list.role %>"> -->
                    <div class="radio">
                      <label class="role-label" ><input type="radio" name="radio" value="Admin" placeholder="admin">Admin</label>
                    </div>
                    <div class="radio">
                      <label class="role-label" ><input type="radio" name="radio" value="Traider" placeholder="trader"
                          checked>Traider</label>
                    </div>
                  </div>

                </div>

                <div class="form-group button-wrapper">
                  <button type="btn submit" class="btn btn-info"> Submit</button>
                  <a class="btn viewAll btn-secondary" href="/admin/list"> View All</a>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <a href="/admin">Back to admin panel</a> -->
  </div>
</main>


<% include ./editInfo/editInfo_footer -%>