<% include ./logReg/logReg_head -%>
<div class="container-fluid background-wrapper">
  <div class="row mt-5">
          <div class="col-md-6 m-auto">
            <div class="">
              <div class="avatar justify-content-center mb-3">
                  <img class="logo" width="100" height="100" src="/images/avatar-01.png" alt="Avatar">
              </div>
              
              <h1 class="text-center megatrade-title mb-3"><i class="megatrade-title"></i> MEGATRADE</h1>
              <% include ./partials/messages %>
              <form action="/" method="POST">
                <div class="form-group">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control inputs"
                    placeholder="Enter Email"
                  />
                  <i class="fa fa-user"></i>
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control inputs"
                    placeholder="Enter Password"
                  />
                  <i class="fa fa-lock"></i>
                </div>
                <button type="submit" class="btn submit-btn btn-block">Login</button>
              </form>
              <div class="checkbox remember-me">
                  <label><input type="checkbox"> Remember me</label>
                    </div>
              <p class="lead register-link mt-4">
                No Account? <a href="/registration">Register</a>
              </p>
            </div>
          </div>
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<% include ./logReg/logReg_footer -%>