<% include ./logReg/logReg_head -%>
<div class="container-fluid background-wrapper">
    <div class="row mt-5">
            <div class="col-md-6 m-auto">
              <div class="">
                <div class="avatar justify-content-center mb-3">
                    <img class="logo" width="100" height="100" src="/images/avatar-01.png" alt="Avatar">
                </div>
                
                <h1 class="text-center megatrade-title mb-3"><i class="megatrade-title"></i> MEGATRADE</h1>
                <h2 class="text-center megatrade-title mb-3">Registration</h2>
                <% include ./partials/messages %>
                <form action="/registration" method="POST">
                  <div class="form-group">
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control inputs"
                      placeholder="Enter Email"
                    />
                    <i class="fa fa-envelope"></i>
                  </div>

                  <div class="form-group">
                    <input
                      type="username"
                      id="username"
                      name="name"
                      class="form-control inputs"
                      placeholder="Enter Username"
                    />
                    <i class="fa fa-user"></i>
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control inputs"
                      placeholder="Enter Password"
                    />
                    <i class="fa fa-lock"></i>
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      id="password"
                      name="password2"
                      class="form-control inputs"
                      placeholder="Eshe raz pass"
                    />
                    <i class="fa fa-lock"></i>
                  </div>
                  <button type="submit" class="btn submit-btn btn-block">Registration</button>
                </form>
                <p class="lead register-link mt-2" style="color:red">Have accaoutn? <a href="/">Login</a></p>
              </div>
            </div>
          </div>
</div>
<% include ./logReg/logReg_footer -%>