<% include ./trade/tradeHead -%>
<body>
    <header class="main-header">
        <h1 class="main-logo"><a href="#"><img src="/img/MEGATRADE_LOGO2.png" width="250" height="50" alt="logo"></a></h1>

        <ul class="main-nav">
            <li class="main-nav-item"><a href="#"><img src="/img/search.svg" alt="search"></a></li>
            <li class="main-nav-item"><a href="#"><img src="/img/mail.svg" alt="mail"></a></li>
            <li class="main-nav-item"><a href="#"><img src="/img/notification.svg" alt="notification"></a></li>
            <li class="main-nav-item"><a href="#"><img src="/img/chat.svg" alt="chat"></a></li>
            <li class="main-nav-item"><a href="#"><img src="/img/profile.svg" alt="profile"></a></li>
        </ul>
    </header>



    <main>
        <div class="main-wrapper">
                <div class="sale">
                    <div class="demo-balance">
                        <div class="trade-info">
                            <p class="">Your Balance: <span id="deposit"  class="balance"><%= list.userBalance%></span></p>
                            <p>Total: <span id="total"><%= list.leverage * list.userBalance %></span></p>
                            <p>x: <span id="leverage"><%= list.leverage %></span></p>
                            <p class="current-title">Current Price: <span class="current-price" id="priceBTC"></span></p>
                            <p>Bitcoins: <span id="userBitcoin"><%= list.userBitcoin %></span></p>
                            <p class="price-failed">Price Failed: <span id="failedPrice"></span></p>
                            <!-- <p class="x1">X: <span></span></p>
                            <p class="x2">X: <span></span></p>
                            <p class="x3">X: <span></span></p> -->
                            <!-- <p id="priceBTC" class="price-field" style="color: black; font-weight: bold"></p> -->
                        </div>
                        <div class="trade-logic">
                                <form id="form1" class="buy-wrapper" action="" method="">
                                        <input  class="input-buy" id="m" autocomplete="off" />
                                        <button class="buyButton btn btn-buy">Buy</button>
                                        <p class="last-buy" id="lastbuy"><span></span></p>
                                    </form>
                                    <form class="sale-wrapper" action="" id="form2">
                                        <input class="input-sale" id="m2" autocomplete="off" />
                                        <button class="saleButton btn btn-sale">Sell</button>
                                        <p class="last-sale" id="lastsale"><span></span></p>
                                    </form>



                            <!-- <form class="buy-wrapper" id="" action="" method="">
                                <input class="input-buy" id="m" autocomplete="off" />
                                <button class="btn btn-buy" id="buyButton">Buy</button>
                                <p class="last-buy">Last buy<span></span></p>
                                <p class="last-buy" id="lastbuy"><span></span></p>
                            </form>
                            <form class="sale-wrapper">
                                <input class="input-sale" id="m" autocomplete="off" />
                                <button class="btn btn-sale">Sale</button>
                                <p class="last-sale">Last sale<span></span></p>
                                <p class="last-sale" id="lastbuy"><span></span></p>
                            </form> -->
                        </div>

                    </div>
                </div>

                <div class="info-wrapper">
                    <div class="graph">
                        <div class="tradingview-widget-container">
                            <div id="tradingview_2da15" style="height: 100vh;"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                        </div>
                        <!-- TradingView Widget END -->
                    </div>
                    <div class="realtime-change">
                        <div class="modal-wrapper">
                            <p class="cur-price-title">Current Price</p>
                            <div class="modal-price-btc"></div>
                            <div class="modal-price-eth hide"></div>
                            <div class="modal-price-eos hide"></div>
                            <div class="modal-price-ltc hide"></div>
                            <div class="modal-price-xrp hide"></div>
                        </div>


                        <p class="last-change-title">Last 20 Change</p>
                        <div class="lastpricebtc"></div>

                        <div class="lastpriceeth hide"></div>

                        <div class="lastpriceltc hide"></div>

                        <div class="lastpriceeos hide"></div>

                        <div class="lastpricexrp hide"></div>
                    </div>

                </div>



                <!-- <div id="chartdiv"></div> -->






            </div>
        </div>
        <div class="table-wrapper">
            <table class="table table-hover table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Pair</th>
                        <th scope="col">Last Price</th>
                        <th scope="col">24 Change</th>
                        <th scope="col">24 High</th>
                        <th scope="col">24 Low</th>
                        <th scope="col">24 volume</th>
                    </tr>
                </thead>
                <tr class="btc"></tr>
                <tr class="eth"></tr>
                <tr class="ltc"></tr>
                <tr class="xrp"></tr>
                <tr class="eos"></tr>
            </table>
        </div>

    </main>

    <footer class="main-footer">
            <div class="dots-background">
                <div class="first-line-wrapper">
                    <img src="/img/dots-1.svg">
                    <img src="/img/layer-1.svg">
                </div>
                <div class="second-line-wrapper">
                    <img src="/img/dots-2.svg">
                </div>
                <div class="third-line-wrapper">
                    <img src="/img/line-2.svg">
                </div>
                <div class="fourth-line-wrapper">
                    <img src="/img/dots-3.svg">
                </div>
                <div class="fifth-line-wrapper">
                    <img src="/img/dots-4.svg">
                </div>
                <div class="sixth-line-wrapper">
                    <img src="/img/line-3.svg">
                </div>
                <div class="seventh-line-wrapper">
                    <img src="/img/dots-5.svg">
                </div>
                <div class="eighth-line-wrapper">
                    <img src="/img/dots-6.svg">
                    <img src="/img/line-4.svg">
                </div>
            </div>
            <div class="footer-line"></div>
            <section class="footer-navigation">
                <ul class="footer-nav-list">
                    <li class="footer-nav-item"><a href="#">Terms and conditions</a></li>
                    <li class="footer-nav-item"><a href="#">Privacy policy</a></li>
                    <li class="footer-nav-item"><a href="#">Leverage/bonus policy</a></li>
                    <li class="footer-nav-item"><a href="#">Aml Policy</a></li>
                    <li class="footer-nav-item"><a href="#">withdrawal of funds policy</a></li>
                    <li class="footer-nav-item"><a href="#">Kyc policy</a></li>
                </ul>
            </section>
            <section class="footer-description">
                <p class="footer-description-text">Risk Disclaimer:<br> CFD trading involves significant risk. We strongly
                    advise that you read our Terms & Conditions. Although the risk when trading binary options is fixed
                    for<br> each individual trade, the trades are live and it is possible to lose an initial investment,
                    particularly if a trader chooses to place his entire investment to a <br>single live trade. It is highly
                    recommended that traders choose a proper money management strategy which limits the total consecutive
                    trades or total <br>outstanding investment.</p>
            </section>
            <section class="copyright">
                <p class="copyright-text">Copyright © 2019 MegaTradeX<br>All Rights Reserved.</p>
            </section>
        </footer>






<% include ./trade/tradeFooter -%>