.avatar {
  display: flex;
  align-content: center;
}

.inputs {
  border-radius: 30px;
  height: 50px;
}

body {
  background: url('/images/poster_event_621615.jpg');
  background-size: cover;
}

.megatrade-title {
  color: #fff;
}
/* .inputs[placeholder="Enter email"] {
    margin-left: 20px;
} */
i.fa {
  position: relative;
  bottom: 38px;
  left: 15px;
}

input {
  padding: 0 40px !important;
}

.submit-btn {
  background-color: #333;
  color: #fff;
  height: 50px;
  border-radius: 30px;
}
.remember-me {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}
.register-link {
  text-align: center;
}

.register-link a {
  text-decoration: none;
  color: #fff;
}

.register-link a:hover {
  color: #fff;
}
