* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}

.down-change {
  color: red;
}

.up-change {
  color: green;
}

.hide {
  display: none;
}

.trading-info {
  color: #fff;
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-top: 10px;
}

/*header + aside*/

.main-logo {
  margin-left: 2%;
}

.main-header {
  padding: 21px 0;
  display: flex;
  width: 100%;
  background: #263238;
}

.main-nav {
  margin-left: 60%;
  width: 20%;
  justify-content: space-between;
  list-style: none;
  display: flex;
}

.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.table-wrapper {
  width: 100%;
}

.graph {
  margin-top: 20px;
  width: 70%;
}

.realtime-change {
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background: #37474f;
  border-radius: 25px;
  width: 20%;
}
.sale {
  width: 20%;
}
.info-wrapper {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.table {
  margin-top: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.demo-balance {
  margin-top: 20px;
  border-radius: 25px;
  background: #455a64;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.trade-logic {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.trade-info {
  margin-left: 15px;
  margin-top: 15px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

.last-buy {
  margin-left: 15px;
  margin-top: 15px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
.last-sale {
  margin-left: 15px;
  margin-top: 15px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.sale-wrapper {
  margin-top: 15px;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.buy-wrapper {
  margin-top: 15px;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.btn-buy {
  border-radius: 25px;
  margin-top: 20px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background: #48842e;
}

.btn-sale {
  border-radius: 25px;
  margin-top: 20px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background: #ff0000;
}

.input-buy {
  font-family: 'Raleway', sans-serif;
  border: none;
  outline: none;
  padding: 5px 0 5px 10px;
  border-radius: 25px;
}

.input-sale {
  font-family: 'Raleway', sans-serif;
  border: none;
  outline: none;
  padding: 5px 0 5px 10px;
  border-radius: 25px;
}

/*Footer*/

.main-footer {
  /* margin-top: 246px; */
  width: 100%;
  background: #000;
}

.footer-line {
  margin: 0 auto;
  content: '';
  height: 3px;
  background: #37474f;
  width: 97%;
}

.footer-nav-list {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  color: #fff;
}

.footer-nav-item a {
  font-family: Raleway;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-description-text {
  margin-top: 40px;
  font-size: 16px;
  line-height: 21px;
  font-family: Raleway;
  text-align: center;
  color: #fff;
}

.copyright {
  /* margin-bottom: 0; */
  margin-top: 47px;
  background: #263238;
  width: 100%;
}

.copyright-text {
  margin-bottom: 0;
  padding: 25px 0;
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.dots-background {
  margin-left: 2%;
  display: flex;
}
.first-line-wrapper {
  margin-top: 20px;
  width: 12%;
  display: flex;
  flex-direction: column;
}
.second-line-wrapper {
  width: 11%;
  margin-top: 55px;
}
.third-line-wrapper {
  width: 11%;
  margin-top: 95px;
}
.fourth-line-wrapper {
  width: 16%;
  margin-top: 250px;
}
.fifth-line-wrapper {
  width: 11%;
  margin-top: 250px;
}
.sixth-line-wrapper {
  width: 11%;
  margin-top: 95px;
}
.seventh-line-wrapper {
  width: 11%;
  margin-top: 55px;
}
.eighth-line-wrapper {
  margin-top: 20px;
  width: 12%;
  display: flex;
  flex-direction: column;
}

.margins {
  margin-top: 10px;
}

.modal-wrapper {
  text-align: center;
}

.last-change-title {
  margin-top: 20px;
  font-size: 21px;
  line-height: 24px;
  text-align: center;
}

.cur-price-title {
  margin-top: 20px;
  text-align: center;
  font-size: 21px;
  line-height: 24px;
}

.lastpricebtc,
.lastpriceeth,
.lastpriceltc,
.lastpriceeos,
.lastpricexrp {
  text-align: center;
}
