* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

.main-logo {
    margin-left: 2%;
}

.main-header {
    padding: 21px 0;
    display: flex;
    width: 100%;
    background: #263238;
}

.main-nav {
    margin-left: 60%;
    width: 20%;
    justify-content: space-between;
    list-style: none;
    display: flex;
}

.side-menu {
    width: 23.2%;
    background: #37474F;
    height: 1000px;
    border-radius: 0px 0px 25px 0px;
}

.aside-list {
    padding-top: 20px;
    list-style: none;
}

.aside-list a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
}

.aside-item {
    padding: 12px 0;
}


.aside-item a{
    padding-left: 9%;
    padding-right: 15%;
    padding-bottom: 10px;
    border-bottom: 3px solid #546E7A;
}



.dashboard::before {
    margin-right: 4%;
    content: url('../img/dashboard.svg');
}


.aside-item:hover {
    background: linear-gradient(90deg, rgba(255, 214, 0, 0.3) 0%, rgba(255, 214, 0, 0.2) 70.55%, rgba(255, 214, 0, 0) 106.87%);
}


.desks::before {
    margin-right: 4%;
    content: url('../img/squares.svg');
}

.transactions::before {
    margin-right: 4%;
    content: url('../img/transactions.svg');
}



.trades::before {
    margin-right: 4%;
    content: url('../img/trader.svg');
}

.tickets::before {
    margin-right: 4%;
    content: url('../img/tickets.svg');
}

.reports::before {
    margin-right: 4%;
    content: url('../img/reports.svg');
}

.analitics::before {
    margin-right: 4%;
    content: url('../img/analitics.svg');
}

.campaigns::before {
    margin-right: 4%;
    content: url('../img/campaigns.svg');
}

.mailer::before {
    margin-right: 4%;
    content: url('../img/mailer.svg');
}

.mail-layouts::before {
    margin-right: 4%;
    content: url('../img/mail-layouts.svg');
}

.workers::before {
    margin-right: 4%;
    content: url('../img/workers.svg');
}

.chats::before {
    margin-right: 4%;
    content: url('../img/chat-aside.svg');
}

.calendar::before {
    margin-right: 4%;
    content: url('../img/calendar.svg');
}

.communications::before {
    margin-right: 4%;
    content: url('../img/communications.svg');
}

.logs::before {
    margin-right: 4%;
    content: url('../img/logs.svg');
}

.positions::before {
    margin-right: 4%;
    content: url('../img/positions.svg');
}

.right-section {
    margin-top: 30px;
    width: 76%;
}

.main-wrapper {

    display: flex;
    justify-content: space-between;
}


.right-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.main-footer {

    width: 100%;
    background: #000;   
}


.footer-line {
    margin: 0 auto;
    content: "";
    height: 3px;
    background: #37474F;
    width: 97%;
}

.footer-nav-list {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    color: #fff;
}

.footer-nav-item a {
    font-family: Raleway;
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-description-text {
    margin-top: 40px;
    font-size: 16px;
    line-height: 21px;
    font-family: Raleway;
    text-align: center;
    color: #fff;
}

.copyright {
    margin-top: 47px;
    background: #263238;
    width: 100%;
}

.copyright-text {
    padding: 25px 0;
    color: #fff;
    font-family: Raleway;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.dots-background {
    margin-left: 2%;
    display: flex;
}
.first-line-wrapper {
    margin-top: 20px;
    width: 12%;
    display: flex;
    flex-direction: column;
}
 .second-line-wrapper {
     width: 11%;
     margin-top: 55px;
 }
 .third-line-wrapper {
     width: 11%;
     margin-top: 95px;
 }
.fourth-line-wrapper {
    width: 16%;
    margin-top: 250px;
}
.fifth-line-wrapper {
    width: 11%;
    margin-top: 250px;
}
.sixth-line-wrapper {
    width: 11%;
    margin-top: 95px;
}
.seventh-line-wrapper {
    width: 11%;
    margin-top: 55px;
}
.eighth-line-wrapper {
    margin-top: 20px;
    width: 12%;
    display: flex;
    flex-direction: column;
}


.table-title {
    padding-top: 20px;
    text-align: center;
    color: #fff;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.table-wrapper {
    border-radius: 25px;
    width: 100%;
    background: #455A64;
}


.titles {
    border-radius: 25px 25px 0px 0px;
    padding: 0;
    width: 100%;
    background: #546E7A;
}

.titles-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.titles-list-item {
    width: 16%;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 25px;   
}

.user-info-list {
    margin-top: 15px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.user-info {
    border-radius: 25px;
    width: 100%;
    background: #607D8B;
}

ul {
    padding: 0px;
    margin: 0px;
}
.user-info-list-item {
    width: 16%;
    text-align: center;
    font-family: Raleway;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
.balance-item {
    padding-right: 10px;
}
.lol {
    background: #546e7a;
    border-radius: 25px;
}

.allUsers {
    width: 95%;
}

.user-info-list-item a {
    text-align: center;
    font-family: Raleway;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}



/*EditInfo*/

.full-name {
    font-family: Raleway;
    font-weight: normal;
    font-size: 21px;
    line-height: 19px;
    color: #fff;
}

.email {
    font-family: Raleway;
    font-weight: normal;
    font-size: 21px;
    line-height: 19px;
    color: #fff;
}

.text-color {
    font-size: 18px;
    line-height: 19px;
    color: 	#363950;
}

.deposit {
    font-family: Raleway;
    font-weight: normal;
    font-size: 21px;
    line-height: 19px;
    color: #fff;
}

.leverage {
    font-family: Raleway;
    font-weight: normal;
    font-size: 21px;
    line-height: 19px;
    color: #fff;  
}

.deposit-input {
    margin-top: 5px;
    border: none;
    outline: none;
    width: 40%;
    border-radius: 25px;
}

.deposit-wrapper {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.deposit-color {
    font-weight: bold;
    color: 	#ffa322;
}

.leverage-wrapper {
    margin-top: 20px;
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.leverage-input {
    margin-top: 5px;
    border: none;
    outline: none;
    width: 40%;
    border-radius: 25px;
}


.role {
    font-family: Raleway;
    font-weight: normal;
    font-size: 21px;
    line-height: 19px;
    color: #fff
}

.edit-wrapper {
    width: 60%;
}

.role-label {
    font-family: Raleway;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #fff
}

.btn {
    padding: 10px 20px;
    border-radius: 25px;
}

.viewAll {
    margin-left: 25%;
}

.button-wrapper {
    padding-bottom: 50px;
}

.container {
    padding-top: 50px;
    margin-left: 30%;
}















