<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"/>
  <script src="https://kit.fontawesome.com/dced2a6dfa.js"></script>
  <link rel="stylesheet" href="/styles/styleEditInfo.css">
  <title>Edit</title>
</head>
<body>